
<script type="text/javascript">
	var xlf = document.getElementById('tempImport');
	if(xlf.addEventListener) xlf.addEventListener('change', handleFile, false);
	
	var xld = document.getElementById('dataImport');
	if(xld.addEventListener) xld.addEventListener('change', handleFile, false);

	$(document).ready(function(){
		$(".selButton").click(function(){
			$("#logo").animate({'left': '0px','margin-left':'50px','width' : '300px','height' : '300px'});			
			$("#buttonsHolder").animate	({'width' : '300px','left': '50px','top' : '640px','padding-top' : '20px', 'height' : '200px'});			
			$(".selButton").animate({'width' : '250px','margin-top' : '10px','margin-bottom' : '20px','box-shadow': '0 0 3px #ccc','height' : '40px','font-size' : '15px'});
			$("#content").fadeIn();
		});
		
		$("#logo").click(function(){
			restoreHome();
		});
	});
	
	function restoreHome()
	{
		$("#content").fadeOut();
		$("#logo").animate({'left': '50%','margin-left':'-450px','width' : '500px','height' : '500px'});			
		$("#buttonsHolder").animate({'width' : '500px','left': '50%','top' : '50%','padding-top' : '120px', 'height' : '500px'});			
		$(".selButton").animate({'width' : '400px','margin-top' : '30px','margin-bottom' : '30px','box-shadow': '0 0 20px #ccc','height' : '50px','font-size' : '20px'});
	}
</script>


	<div id="logo"></div>
	<div id="buttonsHolder">
		<div class="selButton" ng-click = "manageTemplateAction()"> Manage Templates </div>
		<div class="selButton" ng-click = "dataImportAction()"> Import Data </div>
		<div class="selButton" ng-click = "historyAction()"> History and Settings </div>
	</div>
	
	<div id="content">
		<div  id = "manageTempDiv"  style="display:none">
			<div class="contentPart">
				<div class="form-group input-group">
					<span class="input-group-addon" style='font-size:12px'>Organisation Unit</span>
					<input class="form-control" style="border-radius:0;width:295px;cursor:pointer" selected-org-unit ng-model="selectedOrgUnit" ng-change="validateSelection()" id="tempOrgUnit" ref="{{selectedOrgUnit.id}}" value="{{selectedOrgUnit.name}}" placeholder="{{'please_select'| translate}}" ng-disabled="true"/>
					<span class="input-group-addon btn btn-info" data-toggle="modal" data-target="#orgModal" style='min-width:50px;font-size:17px' title="Change" > <span class="glyphicon glyphicon-cog"></span> </span>
				</div>
				
				<div class="form-group input-group">
					<span class="input-group-addon" style='font-size:12px'>Data Set</span>
					<select class="form-control" style='width:347px;' id="dataSetId" 
							ng-model="selectedDataSet" 
							ng-options="dataSet as dataSet.name for dataSet in dataSets | orderBy: 'name' track by dataSet.id" 
							ng-change="validateSelection()">
						<option value="">{{'please_select'| translate}}</option>
					</select>
				</div>
			</div>
			
			</br></br>
			
			<div class="contentPart" id="templatesDiv" style="text-align:center">		
				<div class="form-group input-group">
					<span class="input-group-addon">Template</span>
					<select class="form-control" style='width:347px;' id="templateSel">
						<option value="">{{'please_select'| translate}}</option>
					</select>
				</div>
				
				<input type="button" class="btn btn-success" value="Add" ng-click="addTemplate(0)" style="font-family:verdana;width:100px" />
				<input type="button" class="btn btn-info" id="editTem" ng-click="viewTemp()" value="View" style="font-family:verdana;width:100px" />
				<input type="button" class="btn btn-danger" id="delTem"  data-toggle="modal" data-target="#delModal" value="Delete" style="font-family:verdana;width:100px" />
			</div>
		</div>
		
		<div id="dataImportDiv" style="display:none">
			<div class="contentPart" style="margin-top:-30px;height:190px">
				<div class="form-group input-group">
					<span class="input-group-addon" style='font-size:12px'>Organisation Unit</span>
					<input class="form-control" style="border-radius:0;width:295px;cursor:pointer;font-size:12px" selected-org-unit ng-model="selectedOrgUnit" ng-change="validateSelection()" id="importOrgUnit" ref="{{selectedOrgUnit.id}}" value="{{selectedOrgUnit.name|| 'please_select'| translate}}" ng-disabled="true"/>
					<span class="input-group-addon btn btn-info" data-toggle="modal" data-target="#orgModal" style='min-width:50px;font-size:17px' title="Change" > <span class="glyphicon glyphicon-cog"></span> </span>
				</div>
				
				<div class="form-group input-group">
					<span class="input-group-addon" style='font-size:12px'>Data Set</span>
					<select class="form-control" style='width:347px;font-size:12px' id="importDataSetId" 
							ng-model="selectedDataSet" 
							ng-options="dataSet as dataSet.name for dataSet in dataSets | orderBy: 'name' track by dataSet.id" 
							ng-change="generatePeriods()">
						<option value="">{{'please_select'| translate}}</option>
					</select>
				</div>
				
				<div class="form-group input-group">
					<span class="input-group-addon" style='font-size:12px'>Period</span>
					<select class="form-control" style='width:347px;font-size:12px' id="importPeriod">
						<option value="">{{'please_select'| translate}}</option>
					</select>
				</div>
			</div>
			
			</br>
			
			<div class="contentPart" id="imDiv" style="height:240px">
				
				<div class="form-group input-group">
					<span class="input-group-addon" style='font-size:12px'>Template</span>
					<select class="form-control" style='width:347px;font-size:12px' id="importTemp">
						<option value="">{{'please_select'| translate}}</option>
					</select>
				</div>
				
				<div class="form-group input-group">
					<span class="input-group-addon" style='font-size:12px'>Data Sheet</span>
					<input class="form-control btn-file" style='width:347px;font-size:12px' id="dataImport" type="file" accept=".xls,.xlsx"/>
				</div>
				
				<div class="form-group input-group">
					<span class="input-group-addon" style='font-size:12px'>Empty Data Cells</span>
					<select class="form-control" style='width:347px;font-size:12px' id="importEmpty">
						<option value="2">Omit</option>
						<option value="1">Take as zero</option>
					</select>
				</div>
				
				<input type="button" class="btn btn-success" ng-click="importData()" value="Import" id="imb" style="float:right;width:100px; margin-left:5px" />
				<input type="button" class="btn btn-danger" value="Cancel"  id="imc" style="float:right;width:100px; margin-left:5px" />
			</div>
		</div>
		
		<div id="settingsDiv" style="display:none">
			<div class="contentPart" style="height:250px">
				<table class="table">
					<tr>
						<td>
							History of Imports
						</td>
						<td style="text-align:right">
							<input type="button" class="btn btn-info" ng-click="viewHistory()" value="View All" style="width:130px" />
						</td>
					</tr>
					<tr>
						<td>
							Clear History
						</td>
						<td style="text-align:right">
							<input type="button" class="btn btn-warning" value="Clear" ng-click="clearHistory()" style="width:130px" />
						</td>
					</tr>
					<tr>
						<td>
							Delete All Templates
						</td>
						<td style="text-align:right">
							<input type="button" class="btn btn-warning" value="Delete" ng-click="deleteTemplates()" style="width:130px" />
						</td>
					</tr>
					<tr>
						<td>
							Reset Everything
						</td>
						<td style="text-align:right">
							<input type="button" class="btn btn-danger" ng-click = "reset()" value="Reset" style="width:130px" />
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div id="loader"> <image class="loadImageBig" src="images/loader.gif"/></div>
	
	<div id="footer" > </div>
	
	
		  <script type="text/javascript">
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
  </script>
	<!-- MODALS ----------------------------------------------------------- -->
	<!-- ****************************************************************** -->
	<!-- ****************************************************************** -->
	
	<!-- view history modal -->
	<div id="viewHistoryModal" style="display:none">    
		<div id="hdh" class="mheader col-md-10 col-md-offset-1">
		  <h4 class="modal-title" id="headTitle">History</h4>
		</div>		
		<div id="bdh" class="mbody col-md-10 col-md-offset-1">
			<div id="printContent">
				<table class='table table-bordered table-hover' id="tableContentH" style="width:95%; margin: 0 auto;margin-top:10px">				
				</table>
			</div>
		</div>		
		<div id="fth"  class="mfooter col-md-10 col-md-offset-1">
		  <input type="button" class="btn btn-danger" value="Clear" ng-click="clearHistory()" style="width:100px" />
		  <button type="button" id="b1" class="btn btn-info"  style="width:100px" ng-click="cancelOperation('viewHistoryModal')">Done</button>
		</div>
	</div>
	
	<!-- view template modal -->
	<div id="viewTempModal" class="ml" style="display:none">    
		<div id="hd1" class="mheader col-md-10 col-md-offset-1">
		  <h4 class="modal-title" id="headTitle">Modal Header</h4>
		</div>		
		<div id="bd1" class="mbody col-md-10 col-md-offset-1">
			<div id="coverLoadV" class="coverLoad">
				<image class="loadImage" src="images/loader.gif"/>
			</div>
			<div id="printContent">
				<table class='table table-bordered table-hover' id="tableContentV" style="width:95%; margin: 0 auto;margin-top:10px">				
				</table>
			</div>
		</div>		
		<div id="ft1"  class="mfooter col-md-10 col-md-offset-1">
		  <button type="button" id="b1" class="btn btn-success" style="width:100px" ng-click="showRowMapping()">Next</button>
		  <button type="button" id="b1" class="btn btn-success" style="width:100px;float:left" ng-click="addTemplate()">Back</button>
		  <button type="button" id="b1" class="btn btn-danger"  style="width:100px" ng-click="cancelOperation('viewTempModal')">Cancel</button>
		</div>
	</div>
	
	<!-- column mapping model -->
	<div id="colMappingModal" class="ml" style="display:none">    
		<div id="hd3" class="mheader col-md-10 col-md-offset-1">
		  <h4 class="modal-title" id="headTitle">Modal Header</h4>
		</div>		
		<div id="bd3" class="mbody col-md-10 col-md-offset-1">
			<div id="coverLoadC">
				<image class="loadImage" src="images/loader.gif"/>
			</div>
			<div id="printContent">
				<table class='table table-bordered table-hover' id="tableContentC" style="width:95%; margin: 0 auto;margin-top:10px">				
				</table>
			</div>
		</div>		
		<div id="ft3"  class="mfooter col-md-10 col-md-offset-1">
		  <button type="button" id="b1" class="btn btn-success" style="width:100px;float:left" ng-click="showRowMapping()">Back</button>
		  <button type="button" id="b1" class="btn btn-danger"  style="width:100px" ng-click="cancelOperation('rowMappingModal')">Cancel</button>
		  <button type="button" id="b2" class="btn btn-info"  style="width:100px" ng-click="saveAll()" >Save</button>
		</div>
	</div>
	
	<!-- row mapping model -->
	<div id="rowMappingModal" class="ml" style="display:none">    
		<div id="hd2" class="mheader col-md-10 col-md-offset-1">
		  <h4 class="modal-title" id="headTitle">Modal Header</h4>
		</div>		
		<div id="bd2" class="mbody col-md-10 col-md-offset-1">
			<div id="coverLoadR">
				<image class="loadImage" src="images/loader.gif"/>
			</div>
			<div id="printContent">
				<table class='table table-bordered table-hover' id="tableContentR" style="width:95%; margin: 0 auto;margin-top:10px">				
				</table>
			</div>
		</div>		
		<div id="ft2"  class="mfooter col-md-10 col-md-offset-1">
		  <button type="button" id="b2" class="btn btn-success"  style="width:100px" ng-click="showColumnMapping()">Next</button>
		  <button type="button" id="b1" class="btn btn-success" style="width:100px;float:left" ng-click="saveTemplate()">Back</button>
		  <button type="button" id="b1" class="btn btn-danger"  style="width:100px" ng-click="cancelOperation('rowMappingModal')">Cancel</button>
		</div>
	</div>
	
	<!-- view saved template model -->
	<div id="viewSavedTempModal" class="ml" style="display:none">    
		<div id="hd6" class="mheader col-md-10 col-md-offset-1">
		  <h4 class="modal-title" id="headTitle">Modal Header</h4>
		</div>		
		<div id="bd6" class="mbody col-md-10 col-md-offset-1">
			<div id="coverLoadT">
				<image class="loadImage" src="images/loader.gif"/>
			</div>
			<div id="printContent">
				<table class='table table-bordered table-hover' id="tableContentT" style="width:95%; margin: 0 auto;margin-top:10px">				
				</table>
			</div>
		</div>		
		<div id="ft6"  class="mfooter col-md-10 col-md-offset-1">
		  <button type="button" id="b4" class="btn btn-success"  style="width:100px" ng-click="hideModal()">Done</button>
		</div>
	</div>
	
	<!-- ******************************************************************* -->
	<!-- Add Template Modal -->
	<div id="addTemplateModal" class="ml" style="display:none">    
		<div id="hd6" class="mheader sm col-md-6 col-md-offset-3">
		  <h4 class="modal-title" id="headTitle">Add New Template</h4>
		</div>		
		<div id="bd6" class="mbody sm col-md-6 col-md-offset-3">
			<div class="form-group input-group">
				<span class="input-group-addon" style='font-size:12px' >Name</span>
				<input class="form-control am" id="tempName"/>
			</div>
			
			<div class="form-group input-group">
				<span class="input-group-addon" style='font-size:12px'>Rows</span>
				<select class="form-control am" id="rowData">
					<option value="d"> Data Elements </option>
					<option value="o"> Organisation Units </option>
				</select>
			</div>
			
			<div class="form-group input-group">
				<span class="input-group-addon" style='font-size:12px'>Row Starting Cell</span>
				<input class="form-control am" id="rowStartRNum" type="number" placeholder="Row Number" style="border-radius:0 5px 5px 0;margin-bottom:5px"/>
				<input class="form-control am" id="rowStartCNum" ng-model="rsn"  value="{{rsn}}" type="number" placeholder="Column Number"/>
			</div>
			
			<div class="form-group input-group">
				<span class="input-group-addon" style='font-size:12px'>Row Ending Cell</span>
				<input class="form-control am"  id="rowEndRNum" type="number" placeholder="Row Number" style="border-radius:0 5px 5px 0;margin-bottom:5px"/>
				<input class="form-control am"  id="rowEndCNum" ng-model="rsn" value="{{rsn}}" type="number" placeholder="Column Number"/>
			</div>
			
			<div class="form-group input-group">
				<span class="input-group-addon" style='font-size:12px'>Column Starting Cell</span>
				<input class="form-control am"  id="columnStartRNum"  ng-model="csn"  value="{{csn}}" type="number" placeholder="Row Number" style="border-radius:0 5px 5px 0;margin-bottom:5px"/>
				<input class="form-control am"  id="columnStartCNum" type="number" placeholder="Column Number"/>
			</div>
			
			<div class="form-group input-group">
				<span class="input-group-addon" style='font-size:12px'>Column Ending Cell</span>
				<input class="form-control am"  id="columnEndRNum"  ng-model="csn"  value="{{csn}}" type="number" placeholder="Row Number" style="border-radius:0 5px 5px 0;margin-bottom:5px"/>
				<input class="form-control am"  id="columnEndCNum" type="number" placeholder="Column Number"/>
			</div>
			
			<div class="form-group input-group">
				<span class="input-group-addon" style='font-size:12px'>Template Format</span>
				<input class="form-control btn-file am" id="tempImport" type="file" accept=".xls,.xlsx"/>
			</div>
		</div>		
		<div id="ft6"  class="mfooter sm col-md-6 col-md-offset-3">
			<button type="button" class="btn btn-success" ng-click="saveTemplate()" style="width:100px">Next</button>
			<a href="components/selection/sample.xlsx" class="btn btn-info" style="width:100px; float:left" title="Download a sample template with labels">Help</a>
			<button type="button" class="btn btn-danger" ng-click="cancelOperation('addTemplateModal')" style="width:100px">Cancel</button>
		</div>
	</div>

	<!-- ****************************************************************** -->
	<!-- ****************************************************************** -->
	
	<!--  Organisation Unit Modal -->
	<div id="orgModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Organisation Units</h4>
		  </div>
		  <div class="modal-body" style="max-height:300px;overflow-y:auto">
			<div id="orgUnitTree" style="margin-top:5px;border:none;margin:0 auto;">
				<ul>
				</ul>
			</div>
			<img id="ouwt_loader" alt="{{'loading_tree'| translate}}" src="../images/ajax-loader-bar.gif"/><br>
			<div class="small-horizonal-spacing" ng-if='!treeLoaded'>
				{{'loading_tree'| translate}}
			</div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-success"  style="width:100px" data-dismiss="modal" ng-click="changeOrg()">Done</button>
		  </div>
		</div>

	  </div>
	</div>
	
	<!-- ****************************************************************** -->
	<!-- ****************************************************************** -->
	
	<!--  Status modal -->
	<div id="stModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title" id="sth">Data Count</h4>
		  </div>
		  <div class="modal-body" style="max-height:300px;overflow-y:auto" id="stb">
			<table class="table">
				<tr class="success"><td> Imported </td><td id="imct"></td></tr>
				<tr class="info"><td> Updated </td><td id="upc"></td></tr>
				<tr class="danger"><td> Ignored </td><td id="igc"></td></tr>
			</table>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-info"  style="width:100px" data-dismiss="modal" ng-click="finishAll()">Ok</button>
		  </div>
		</div>

	  </div>
	</div>
	
	<!-- ****************************************************************** -->
	<!-- ****************************************************************** -->
	
	<!--  DELETE CONFIRMATION modal -->
	<div id="delModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Delete Confirmation</h4>
		  </div>
		  <div class="modal-body" style="max-height:300px;overflow-y:auto">
			Are you sure that you want to delete this template?. </br>Remember; this cannot be undone.
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-info"  style="width:100px" data-dismiss="modal" ng-click="deleteTemp()">Confirm</button>
			<button type="button" class="btn btn-primary"  style="width:100px" data-dismiss="modal" >Cancel</button>
		  </div>
		</div>

	  </div>
	</div>